#box {
    background-color: whitesmoke;
    width: 700px;
    height: 500px;
    margin: 10px 10px 30px 100px;
    color: blue;
    padding: 25px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

body {
    background-image: url("../images/1276169_10153364931915525_1566939401_o[1]");

}